body{
    background-image:url(https://www.agroland.ie/wp-content/uploads/2018/08/background-colors-for-web-pages-excellent-design-page-new-color-1024x640.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
}

footer{

	margin-top: 20px;
	padding-top: 20px;
}
.bg__card__navbar{
	background-color: #000000;
}
.bg__card__footer{
	background-color: #000000 !important;
}
#add__new__list{
    top: -38px;
    right: 0px;
}